body{
font-family: Arial;
margin:0;
background:#fff;
color:#0b3d2e;
}

header{
text-align:center;
padding:50px;
background:#0b3d2e;
color:white;
}

.btn{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:white;
color:#0b3d2e;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

#menu{
padding:20px;
}

.item{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
border-bottom:1px solid #ddd;
}

.actions{
display:flex;
gap:10px;
}

.order{
background:#0b3d2e;
color:white;
padding:6px 10px;
text-decoration:none;
border-radius:6px;
font-size:12px;
}

.email{
background:#555;
}

footer{
text-align:center;
padding:20px;
background:#f2f2f2;
}
